a {
    text-decoration: none;
}

#about {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(0.3);
}

.title-en {
    font-family: "Lobster", cursive;
}

.title-ja {
    font-family: "Yusei Magic", sans-serif;
}

.posts-list {
    font-family: "Yusei Magic", sans-serif;
}