{% extends 'layout.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'post/home.css' %}" />
<link rel="stylesheet" href="{% static 'post/post-item.css' %}" />
{% endblock css_files %} {% block content %}
<section id="featured-posts" class="container mt-4 mb-4">
    <h2 class="mb-3 text-center">Featured Days</h2>
    <div class="posts-list">
        {% for post in posts %}
            <div class="card mb-3">
                <a class="post-item d-flex" href="{% url 'post-detail' post.id %}">
                    <div
                        class="thumbnail col-3"
                        style="
                            background: no-repeat center / cover
                                url('{{ post.image.url }}');
                        "
                    ></div>
                    <div class="contents col-9 p-2">
                        <h3>{{ post.title }}</h3>
                        <date class="text-muted">{{ post.date }}</date>
                        <p class="excerpt">{{ post.content|truncatechars:15 }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="actions text-center mt-3">
        <a class="btn btn-dark" href="{% url 'all-posts' %}">Visit All</a>
    </div>
</section>
{% endblock content %}
