{% extends 'layout.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'post/post-detail.css' %}" />
<link rel="stylesheet" href="{% static 'post/post-item.css' %}" />
{% endblock css_files %} {% block content %}

<div class="container">
    <section id="content" class="my-3 row justify-content-between">
        <main class="col-md-8">
            <div class="info mb-2">
                <h1 class="border-bottom display-6 pb-1 fw-bold">{{ post.title }}</h1>
                <date class="text-dark">{{ post.date }}</date>
            </div>
            <div>{{ post.get_html_from_markdown|safe }}</div>
        </main>
        <section id="featured-posts" class="container mt-4 mb-4 m-md-0 col-md-4">
            <h2 class="mb-2 text-center">Other Days</h2>
            <div class="posts-list">
                {% for post in other_posts %}
                    <div class="card mb-3">
                        <a
                            class="post-item d-flex"
                            href="{% url 'post-detail' post.id %}"
                        >
                            <div
                                class="thumbnail col-3"
                                style="
                                    background: no-repeat center / cover
                                        url('{{ post.image.url }}');
                                "
                            ></div>
                            <div class="contents col-9 p-2">
                                <h3>{{ post.title }}</h3>
                                <date class="text-muted">{{ post.date }}</date>
                                <p class="excerpt">{{ post.content|truncatechars:15 }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
</div>
{% endblock content %}
