.post-content img {
    max-width: 100%;
}

.comment-control label {
    font-family: "Lobster", cursive;
    display: block;
}

.comment-control input, textarea, button {
    width: 100%;
}

.comment-body {
    border-radius: 5px;
    background-color: #e2e2e2;

    position: relative;
}

.comment-body::before {
    content: '';
    display: block;
    border: 12px solid transparent;
    border-bottom: 12px solid #e2e2e2;

    position: absolute;
    left: 10px;
    top: -24px;
}
